# Virtualenv
.venv/
venv/

.idea/
.vscode/
.data/
.weights/
.debug/
.temp/
.images/
.agent/


# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/

images/*
images/test/*
weights/
archives/
checkpoints/
data/coco_classes.txt


# exceptions
!images/readme
!images/test
/predictions.json
/configs/
/mask2former.tflite
/tflite/
